.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    flex-wrap: nowrap;
}

.navbar-left {
    margin-left: 15%;
    width: 120px;
    height: 40px;
}

.logo-elrond {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.navbar-right {
    height: 40px;
    margin-right: 5%;
    color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar-right>ul {
    display: flex;
    flex-direction: row;
}

.lien {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    color: grey;

}

.lien:hover {
    color: white;

}



.prix-egld {
    color: white;
    background-color: #1B46C2;
    padding-right: 0px;
    list-style: none;
    padding: 2px 8px 2px 8px;
    border-radius: 5px;

    display: flex;
}



.burger-menu {
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;



}

.burger-bar {
    width: 2em;
    height: 0.2em;
    background-color: white;
    border-radius: 0.5em;
    margin-top: 3px;
}

.menu {
    display: flex;
    justify-content: center;

}

@media screen and (min-width : 729px) {

    .burger-menu {
        display: none;
    }

    .menu {
        display: none;
    }


}

@media screen and (max-width : 728px) {
    .navbar-right {
        display: none;
    }
}

.link {
    position: relative;
    cursor: pointer;
    position: relative;
    cursor: pointer;
    list-style: none;
    margin-right: 20px;
}



.link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.link:hover:after {
    width: 100%;
    left: 0;
    background: #fff;
}

.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.3em, 0.3em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.3em, 0.3em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.01);

}

.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu {
    height: 100%;
    background-color: rgb(28, 28, 28);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    box-shadow: -3px -5px 8px 2px black;
    color: white;

}

.hidden {
    transition-duration: 0.5s;
    transform: translateX(120%);

}

.visible {
    transform: translateX(0px);
    transition-duration: 0.5s;

}


.burger-menu,
.navbar-right {
    z-index: 2;
}

.lien-navbar {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-right: 40px;

}

.lien-navbar:hover {
    color: white;
}

.lien-navbar:visited {
    color: white;
}



.categories-navbar-vertical {
    margin-top: 90px;


    text-align: center;
}

.li-vertical {
    list-style: none;
    padding: 10px 0 10px 0px;

}