.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    flex-wrap: nowrap;
}

.navbar-left {
    margin-left: 15%;
    width: 120px;
    height: 40px;
}

.logo-elrond {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.navbar-right {
    height: 40px;
    margin-right: 5%;
    color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar-right>ul {
    display: flex;
    flex-direction: row;
}

.navbar-right>ul>li:nth-child(1),
.navbar-right>ul>li:nth-child(2),
.navbar-right>ul>li:nth-child(3) {
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
}

.navbar-right>ul>li:nth-child(1):hover,
.navbar-right>ul>li:nth-child(2):hover,
.navbar-right>ul>li:nth-child(3):hover {
    color: white;
}


.prix-egld {
    color: white;
    background-color: #1B46C2;
    padding-right: 0px;
    list-style: none;
    padding: 2px 8px 2px 8px;
    border-radius: 5px;

    display: flex;
}



.burger-menu {
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;



}

.burger-bar {
    width: 2em;
    height: 0.2em;
    background-color: white;
    border-radius: 0.5em;
    margin-top: 3px;
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}

@media screen and (min-width : 913px) {

    .burger-menu {
        display: none;
    }

    .menu {
        display: none;
    }


}

@media screen and (max-width : 912px) {
    .navbar-right {
        display: none;
    }
}

.link {
    position: relative;
    cursor: pointer;
}

.link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.link:hover:after {
    width: 100%;
    left: 0;
    background: #fff;
}